import data
into table "3_HANA_HADOOP_IMAGEPROCESSING"."DATA_MODEL_TBL_FILTERED"
from 'data'
    record delimited by '\n'
    field delimited by ','
    optionally enclosed by '"'
error log 'data.err'
